@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.PyTorch {
  border: 0.1rem solid rgb(238, 89, 3);
}

.PyTorch:hover {
  background: rgba(238, 89, 3, 0.25);
}

.OpenCV {
  border: 0.1rem solid rgb(50, 85, 213);
}

.OpenCV:hover {
  background: rgba(50, 85, 213, 0.25);
}

.SegFormer {
  border: 0.1rem solid rgb(0, 0, 0);
}

.SegFormer:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Semantic-Segmentation {
  border: 0.1rem solid rgb(234, 69, 184);
}

.Semantic-Segmentation:hover {
  background: rgba(234, 69, 184, 0.25);
}

.Minecraft {
  border: 0.1rem solid rgb(243, 164, 7);
}

.Minecraft:hover {
  background: rgba(243, 164, 7, 0.25);
}

.Reinforcement-Learning {
  border: 0.1rem solid rgb(124, 182, 237);
}

.Reinforcement-Learning:hover {
  background: rgba(124, 182, 237, 0.25);
}

.Medical-Imaging {
  border: 0.1rem solid rgb(72, 86, 197);
}

.Medical-Imaging:hover {
  background: rgba(72, 86, 197 0.25);
}

.SpaCy {
  border: 0.1rem solid rgb(0, 0, 0);
}

.SpaCy:hover {
  background: rgba(0, 0, 0, 0.25);
}

.HuggingFace {
  border: 0.1rem solid rgb(238, 250, 2);
}

.HuggingFace:hover {
  background: rgba(238, 250, 2, 0.25);
}

.Transformers {
  border: 0.1rem solid rgb(13, 250, 49);
}

.Transformers:hover {
  background: rgba(13, 250, 49 0.25);
}

.BERT {
  border: 0.1rem solid rgb(227, 250, 135);
}

.BERT:hover {
  background: rgba(227, 250, 135, 0.25);
}

.Pandas {
  border: 0.1rem solid rgb(0, 54, 216);
}

.Pandas:hover {
  background: rgba(0, 54, 216, 0.25);
}

.Numpy {
  border: 0.1rem solid rgb(251, 199, 66);
}

.Numpy:hover {
  background: rgba(251, 199, 66, 0.25);
}

.Scipy {
  border: 0.1rem solid rgb(5, 194, 247);
}

.Scipy:hover {
  background: rgba(5, 194, 247, 0.25);
}

.Bayesian-Optimization {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Bayesian-Optimization:hover {
  background: rgba(0, 0, 0, 0.25);
}

.XGBoost {
  border: 0.1rem solid rgb(0, 0, 0);
}

.XGBoost:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Logistic-Regression {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Logistic-Regression:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Neural-Network {
  border: 0.1rem solid rgb(170, 170, 248);
}

.Neural-Network:hover {
  background: rgba(170, 170, 248, 0.25);
}

.K-Means {
  border: 0.1rem solid rgb(0, 0, 0);
}

.K-Means:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Apache-Spark {
  border: 0.1rem solid rgb(170, 170, 248);
}

.Apache-Spark:hover {
  background: rgba(170, 170, 248, 0.25);
}

.Social-Networks {
  border: 0.1rem solid rgb(8, 0, 255);
}

.Social-Networks:hover {
  background: rgba(8, 0, 255, 0.25);
}

.Community-Detection {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Community-Detection:hover {
  background: rgba(0, 0, 0, 0.25);
}

.GraphFrames {
  border: 0.1rem solid rgb(0, 0, 0);
}

.GraphFrames:hover {
  background: rgba(0, 0, 0, 0.25);
}

.MySQL {
  border: 0.1rem solid rgb(144, 151, 252);
}

.MySQL:hover {
  background: rgba(144, 151, 252, 0.25);
}

.Tensorflow {
  border: 0.1rem solid rgb(239, 113, 113);
}

.Tensorflow:hover {
  background: rgba(239, 113, 113, 0.25);
}

.LSTMs {
  border: 0.1rem solid rgb(0, 0, 0);
}

.LSTMs:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Multivariate-Time-Series {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Multivariate-Time-Series:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Instagram {
  border: 0.1rem solid rgb(255, 45, 7);
}

.Instagram:hover {
  background: rgba(255, 45, 7, 0.25);
}

.Data-Pipelines {
  border: 0.1rem solid rgb(255, 45, 7);
}

.Data-Pipelines:hover {
  background: rgba(255, 45, 7, 0.25);
}

.Scraper {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Scraper:hover {
  background: rgba(0, 0, 0, 0.25);
}

.CNN {
  border: 0.1rem solid rgb(194, 203, 255);
}

.CNN:hover {
  background: rgba(194, 203, 255, 0.25);
}

.MLOps {
  border: 0.1rem solid rgb(194, 203, 255);
}

.MLOps:hover {
  background: rgba(194, 203, 255, 0.25);
}

.Markov-Decision-Process {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Markov-Decision-Process:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Value-Iteration {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Value-Iteration:hover {
  background: rgba(0, 0, 0, 0.25);
}

.RL {
  border: 0.1rem solid rgb(43, 233, 173);
}

.RL:hover {
  background: rgba(43, 233, 173, 0.25);
}

.Software-Design {
  border: 0.1rem solid rgb(43, 233, 173);
}

.Software-Design:hover {
  background: rgba(43, 233, 173, 0.25);
}

.GenAI {
  border: 0.1rem solid rgb(43, 113, 233);
}

.GenAI:hover {
  background: rgba(43, 84, 233, 0.25);
}

.Vanilla-Implementation {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Vanilla-Implementation:hover {
  background: rgba(0, 0, 0, 0.25);
}

.PyPi {
  border: 0.1rem solid rgb(0, 51, 255);
}

.PyPi:hover {
  background: rgba(0, 51, 255, 0.25);
}

.Bots {
  border: 0.1rem solid rgb(0, 51, 255);
}

.Bots:hover {
  background: rgba(0, 51, 255, 0.25);
}

.CircleCI {
  border: 0.1rem solid rgb(164, 153, 153);
}

.CircleCI:hover {
  background: rgba(164, 153, 153, 0.25);
}

.wrapper {
  background: rgb(0, 0, 0);
}

.wrapper:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Dropbox {
  border: 0.1rem solid rgb(100, 178, 255);
}

.Dropbox:hover {
  background: rgba(100, 178, 255, 0.25);
}

.yaml {
  border: 0.1rem solid rgb(0, 0, 0);
}

.yaml:hover {
  background: rgba(0, 0, 0, 0.25);
}

.configuration {
  border: 0.1rem solid rgb(0, 0, 0);
}

.configuration:hover {
  background: rgba(0, 0, 0, 0.25);
}

.logger {
  border: 0.1rem solid rgb(0, 0, 0);
}

.logger:hover {
  background: rgba(0, 0, 0, 0.25);
}

.termcolor {
  border: 0.1rem solid rgb(255, 0, 200);
}

.termcolor:hover {
  background: rgba(255, 0, 200, 0.25);
}

.Youtube {
  border: 0.1rem solid rgb(255, 0, 0);
}

.Youtube:hover {
  background: rgba(255, 0, 0, 0.25);
}

.Gmail {
  border: 0.1rem solid rgb(189, 100, 100);
}

.Gmail:hover {
  background: rgba(189, 100, 100, 0.25);
}

.AWS {
  border: 0.1rem solid rgb(159, 161, 42);
}

.AWS:hover {
  background: rgba(159, 161, 42, 0.25);
}

.LLMs {
  border: 0.1rem solid rgb(74, 161, 42);
}

.LLMs:hover {
  background: rgba(88, 161, 42, 0.25);
}

.RDS {
  border: 0.1rem solid rgb(0, 0, 0);
}

.RDS:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Heroku {
  border: 0.1rem solid rgb(152, 14, 122);
}

.Heroku:hover {
  background: rgba(152, 14, 122, 0.25);
}

.APIs {
  border: 0.1rem solid rgb(152, 14, 122);
}

.APIs:hover {
  background: rgba(152, 14, 122, 0.25);
}

.Crawler {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Crawler:hover {
  background: rgba(0, 0, 0, 0.25);
}

.RaspberryPI {
  border: 0.1rem solid rgb(253, 15, 67);
}

.RaspberryPI:hover {
  background: rgba(253, 15, 67, 0.25);
}

.Spotify {
  border: 0.1rem solid rgb(0, 121, 16);
}

.Spotify:hover {
  background: rgba(0, 121, 16, 0.25);
}

.SwitchBot {
  border: 0.1rem solid rgb(227, 13, 13);
}

.SwitchBot:hover {
  background: rgba(227, 13, 13, 0.25);
}

.button-presser {
  border: 0.1rem solid rgb(0, 0, 0);
}

.button-presser:hover {
  background: rgba(0, 0, 0, 0.25);
}

.automation {
  border: 0.1rem solid rgb(0, 0, 0);
}

.automation:hover {
  background: rgba(0, 0, 0, 0.25);
}

.smart-home {
  border: 0.1rem solid rgb(17, 93, 186);
}

.smart-home:hover {
  background: rgba(17, 93, 186, 0.25);
}

.Sankey-Diagram {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Sankey-Diagram:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Parliament {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Parliament:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Visualization {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Visualization:hover {
  background: rgba(0, 0, 0, 0.25);
}

.P5\.js {
  border: 0.1rem solid rgb(255, 70, 209);
}

.P5\.js:hover {
  background: rgba(255, 70, 209, 0.25);
}

.game {
  border: 0.1rem solid rgb(0, 0, 0);
}

.game:hover {
  background: rgba(0, 0, 0, 0.25);
}

.shooter-game {
  border: 0.1rem solid rgb(0, 0, 0);
}

.shooter-game:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Android-App {
  border: 0.1rem solid rgb(71, 56, 208);
}

.Android-App:hover {
  background: rgba(71, 56, 208, 0.25);
}

.App {
  border: 0.1rem solid rgb(0, 0, 0);
}

.App:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Java {
  border: 0.1rem solid rgb(2, 173, 203);
}

.Java:hover {
  background: rgba(2, 173, 203, 0.25);
}

.Quantum-Mechanics {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Quantum-Mechanics:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Quiz {
  border: 0.1rem solid rgb(0, 0, 0);
}

.Quiz:hover {
  background: rgba(0, 0, 0, 0.25);
}

.Deep-Learning {
  border: 0.1rem solid rgb(0, 72, 255);
}

.Deep-Learning:hover {
  background: rgba(0, 72, 255, 0.25);
}

.Python {
  border: 0.1rem solid rgb(50, 25, 162);
}

.Python:hover {
  background: rgba(50, 25, 162, 0.25);
}

.Research {
  border: 0.1rem solid rgb(32, 255, 147);
}

.Research:hover {
  background: rgba(32, 255, 255, 0.25);
}

.Computer-Vision {
  border: 0.1rem solid rgb(232, 255, 118);
}

.Computer-Vision:hover {
  background: rgba(232, 255, 118, 0.25);
}

.MIM {
  border: 0.1rem solid rgb(118, 184, 255);
}

.MIM:hover {
  background: rgba(118, 180, 255, 0.25);
}

.SQL {
  border: 0.1rem solid rgb(255, 118, 214);
}

.SQL:hover {
  background: rgba(255, 118, 214, 0.25);
}

/* PDF */
.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 80% !important;
  height: 100% !important;
}

/* Lists */
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none
}

li {
  padding-left: 20px;
}

li:nth-child(1):before {
  content: "* "
}

li:nth-child(2):before {
  content: "* "
}

li:nth-child(3):before {
  content: "* "
}

li:nth-child(4):before {
  content: "* "
}

li:nth-child(5):before {
  content: "* "
}

/* Links colors */
a {
  color: var(--text-color);
  text-decoration: none;
}

a:visited {
  color: var(--text-color);
  text-decoration: none;

}