@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


.picture_boader {
  border: 10px solid rgba(64, 102, 97, 0.5);
  border-radius: 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  position: relative;
}

.picture {
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: 50% 10%;
}

.container {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
  position: relative;
}

.background {
  font-size: 5rem;
  font-family: 'Montserrat';
  line-height: 1.1;
  color: var(--bg-text);
  position: absolute;
  z-index: 1;
}

.foreground {
  z-index: 2;
  display: flex;
  color: var(--accent-color);
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bio {
  width: max-content;
  color: #eee;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  position: relative;
}

.bio::before,
.bio::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bio::before {
  background: var(--main-bg);
  animation: typewriter 2.5s steps(24) 500ms forwards;
}

.bio::after {
  margin-left: 0.4rem;
  width: 0.125em;
  background: var(--accent-color);
  animation: typewriter 2.5s steps(24) 500ms forwards,
    blink 750ms steps(24) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.button {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  color: #eee;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.outlined {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  border: 2px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
}

.button:hover,
.outlined:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.illustration {
  height: 500px;
  width: 460px;
}

/* 4K Screens */
@media screen and (min-width: 2000px) {
  .background {
    font-size: 8.5rem;
  }

  .content {
    padding: 0 3rem;
  }

  .name {
    font-size: 6rem;
  }

  .bio {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .button {
    font-size: 2rem;
  }

  .outlined {
    font-size: 2rem;
  }

  .illustration {
    height: 900px;
    width: 700px;
  }
}

/* iPad Pro */
@media screen and (max-width: 1100px) {
  .background {
    display: none;
  }

  .container {
    display: block;
  }

  .foreground {
    margin: 4rem 0;
    display: block;
    text-align: center;
  }

  .name {
    font-size: 4rem;
  }

  .bio {
    font-size: 1.75rem;
    margin: 0.75rem auto 3rem;
  }

  .illustration {
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 700px;
    width: 600px;
  }

  .picture {
    border-radius: 250px;
    display: hidden;
    object-fit: cover;
  }
}

/* iPad */
@media screen and (max-width: 900px) {
  .foreground {
    margin: 2rem 0;
  }

  .name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  .bio {
    font-size: 1.5rem;
  }

  .illustration {
    height: 550px;
    width: 420px;
    bottom: -50px;
  }
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
  .container {
    display: flex;
  }

  .illustration {
    display: none;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .foreground {
    margin: 0;
  }

  .name {
    font-size: 2rem;    
    margin-bottom: 2rem;

  }

  .bio {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 0.5rem;
  }

  .outlined {
    font-size: 0.5rem;
  }

  .illustration {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75vw;
    height: 50vh;
    z-index: 1;
  }
}

.cardContainer {
  margin: 1.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 0.7fr));
  gap: 1.5rem;
  bottom: 0;
}

@media only screen and (max-width: 1100px) {
  .cardContainer {
    display: none;
  }

  .right {
    display: none;
  }
}

.card {
  background: var(--transparent-bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  padding-right: 0%;
}

.card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 1rem;
  border-radius: 0 0 20px 20px;
}

.content p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0 0.5rem;
}

.tags span {
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  transition: all 0.2s;
}

